<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">DM Tool</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="NavController">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#/environmentSetup">Environment</a>
                </li>
                <li><a href="#/repos">Repository Configuration</a>
                </li>
                <li><a href="#/admConfig">ADM Configuration</a>
                </li>
                <li><a href="#/deploymentPackage">Deployment Package</a>
                </li>                
                <li><a href="#/deploymentOptions">Deployment Options</a>
                </li>
                <li><a href="#/commTempl">Admin</a>
                </li>
                <li><a href="#/commParams">Admin-Params</a>
                </li>
                <li><a href="#/login"  ng-show='showlogIn'>LogIn</a>
                </li>
                <li><a href="#/logout"  ng-show='showlogout' ng-click="logOut()">Logout</a>
                </li>                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
