<div class="container" ng-controller="commTemplCtrl">
	<div class="container">
		<h2>Add/Update Command Template Information</h2>
		<form class="form-horizontal" role="form" name="cmdTempl" ng-submit="addEnvInfo()" novalidate>
			<div class="form-group  col-sm-6 col-md-6" ng-class="{ 'has-error' : cmdTempl.code.$invalid && !cmdTempl.code.$pristine }">
				<label class="control-label col-sm-6 col-md-6" for="email">Code:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Command Code" name="code" ng-model="code" required/>
					<p ng-show="cmdTempl.code.$invalid && !cmdTempl.code.$pristine" class="help-block">Code is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6  col-md-6" ng-class="{ 'has-error' : cmdTempl.description.$invalid && !cmdTempl.description.$pristine }">
				<label class="control-label col-sm-6 col-md-6" for="email">Description:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Description" name="description"
						ng-model="description" required/>
					<p ng-show="cmdTempl.description.$invalid && !cmdTempl.description.$pristine" class="help-block">Description is Required.</p>						
				</div>
			</div>
			<div class="form-group   col-sm-6 col-md-6" ng-class="{ 'has-error' : cmdTempl.command.$invalid && !cmdTempl.command.$pristine }">
				<label class="control-label   col-sm-6 col-md-6" for="email">Command:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Command" name="command"
						ng-model="command" required/>
					<p ng-show="cmdTempl.command.$invalid && !cmdTempl.command.$pristine" class="help-block">Command is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6" ng-class="{ 'has-error' : cmdTempl.uiScreenLocation.$invalid && !cmdTempl.uiScreenLocation.$pristine }">
				<label class="control-label   col-sm-6 col-md-6" for="email">UI Screen Location:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter UI Screen Location" name="uiScreenLocation"
						ng-model="uiScreenLocation" required/>
					<p ng-show="cmdTempl.uiScreenLocation.$invalid && !cmdTempl.uiScreenLocation.$pristine" class="help-block">UI Screen Location is Required.</p>						
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10" >
					<button type="submit" class="btn btn-default" ng-disabled="cmdTempl.$invalid">
						<span ng-show="id">Update</span> <span ng-show="!id">Save</span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		<h2>Command Template Information</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Code</th>
					<th>Command</th>
					<th>Description</th>
					<th>UI Screen Location</th>
				</tr>
			</thead>
			<tbody ng-repeat="commTempl in allCommTemplates">
				<tr>
					<td>{{commTempl.id}}</td>
					<td>
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="showCommandParams(commTempl)">
							<span>{{commTempl.code}}</span>
						</button>

					</td>
					<td>{{commTempl.command}}</td>
					<td>{{commTempl.description}}</td>
					<td>{{commTempl.uiScreenLocation}}</td>
					<td>
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="modifyCommTempl(commTempl)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>

					</td>
					<td>
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="deleteCommTempl(commTempl)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>