<div class="container" ng-controller="deploymentOptionsCtrl">
	<h2>Select the deployment options.</h2>
	<form role="form">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				{{selectedItem}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="env in allEnvs"><a
					ng-click="dropboxitemselected(env.name, env.id)" ng-model="selectedItem">{{env.name}}</a></li>
			</ul>
		</div>
		<div class="checkbox" ng-repeat="admService in allAdmBuildservices">
			<label> 
				<input type="checkbox" ng-click="toggleCheck(admService.code)"/>
				{{admService.description}}
			</label>
		</div>
		<div>
			<button class="btn btn-primary" type="button" ng-click="processDeploymentOptionsServices()">
				Submit
			</button>
		</div>
		<div class="checkbox" ng-repeat="(key, value) in allErrors">
			<label> 
				{{key}} : {{value}}
			</label>
		</div>
	</form>
</div>