<div class="container" ng-controller="reposCtrl">
	<div class="container">
		<h2>Add Repository Configuration</h2>
		<form class="form-horizontal" role="form" name="repoForm" ng-submit="addRepos()" novalidate>
			<div class="form-group  col-sm-6 col-md-6">
				<label class="control-label col-sm-6 col-md-6" for="email">Environment:</label>
				<div class="dropdown col-sm-6 col-md-6">
					<button class="btn btn-primary dropdown-toggle" type="button"
						data-toggle="dropdown">
						{{envName}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu form-group  col-sm-6 col-md-6">
						<li ng-repeat="env in allEnvs"><a
							ng-click="dropboxitemselected(env.name)" ng-model="envName">{{env.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6">
				<label class="control-label col-sm-6 col-md-6" for="email">Export/Import:</label>
				<div class="dropdown col-sm-6 col-md-6">
					<button class="btn btn-primary dropdown-toggle" type="button"
						data-toggle="dropdown">
						{{repoType}}<span class="caret"></span>
					</button>
					<ul class="dropdown-menu form-group  col-sm-6 col-md-6">
						<li><a ng-click="dropboxRepoTypeSelected('Export')"
							ng-model="repoType">Export</a></li>
						<li><a ng-click="dropboxRepoTypeSelected('Import')"
							ng-model="repoType">Import</a></li>
						<li><a ng-click="dropboxRepoTypeSelected('DDLSync')"
							ng-model="repoType">DDLSync</a></li>
					</ul>
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6" ng-class="{ 'has-error' : repoForm.userId.$invalid && !repoForm.userId.$pristine }">
				<label class="control-label col-sm-6 col-md-6" for="email">User
					Id :</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control" placeholder="Enter User Id"
						name="userId" ng-model="userId" required/>
				<p ng-show="repoForm.userId.$invalid && !repoForm.userId.$pristine" class="help-block">User Id is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6  col-md-6" ng-class="{ 'has-error' : repoForm.password.$invalid && !repoForm.password.$pristine }">
				<label class="control-label col-sm-6 col-md-6" for="email">Password:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Password" name="password" ng-model="password" required/>
				<p ng-show="repoForm.password.$invalid && !repoForm.password.$pristine" class="help-block">Password is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6" ng-class="{ 'has-error' : repoForm.tableOwner.$invalid && !repoForm.tableOwner.$pristine }">
				<label class="control-label col-sm-6 col-md-6" for="email">Table Owner :</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control" placeholder="Enter User Id"
						name="tableOwner" ng-model="tableOwner" required/>
				<p ng-show="repoForm.tableOwner.$invalid && !repoForm.tableOwner.$pristine" class="help-block">Table Owner is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6  col-md-6" ng-class="{ 'has-error' : repoForm.tableOwnerPassword.$invalid && !repoForm.tableOwnerPassword.$pristine }">
				<label class="control-label col-sm-6 col-md-6" for="email">Table Owner Password: </label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Password" name="tableOwnerPassword" ng-model="tableOwnerPassword" required/>
				<p ng-show="repoForm.tableOwnerPassword.$invalid && !repoForm.tableOwnerPassword.$pristine" class="help-block">Table Owner Password is Required.</p>						
				</div>
			</div>
			<div class="form-group   col-sm-6 col-md-6" ng-class="{ 'has-error' : repoForm.odbc.$invalid && !repoForm.odbc.$pristine }">
				<label class="control-label   col-sm-6 col-md-6" for="email">ODBC:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control" placeholder="Enter ODBC"
						name="odbc" ng-model="odbc" required/>
				<p ng-show="repoForm.odbc.$invalid && !repoForm.odbc.$pristine" class="help-block">ODBC is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6" ng-class="{ 'has-error' : repoForm.repoName.$invalid && !repoForm.repoName.$pristine }">
				<label class="control-label   col-sm-6 col-md-6" for="email">Repository
					Name:</label>
				<div class="col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Repository Name" name="repoName"
						ng-model="repoName" required/>
				<p ng-show="repoForm.repoName.$invalid && !repoForm.repoName.$pristine" class="help-block">Repo Name is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6" ng-class="{ 'has-error' : repoForm.tableDDLSync.$invalid && !repoForm.tableDDLSync.$pristine }">
				<label class="control-label  col-sm-6 col-md-6" for="email">Table
					Space for DDLSynch:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Log File Path" name="tableDDLSync"
						ng-model="tableDDLSync" " required/>
				<p ng-show="repoForm.tableDDLSync.$invalid && !repoForm.tableDDLSync.$pristine" class="help-block">Table DDL Sync is Required.</p>						
				</div>
			</div>
			<div class="form-group  col-sm-6 col-md-6" ng-class="{ 'has-error' : repoForm.indexDDLSync.$invalid && !repoForm.indexDDLSync.$pristine }">
				<label class="control-label  col-sm-6 col-md-6" for="email">Index
					Space for DDLSynch:</label>
				<div class="  col-sm-6 col-md-6">
					<input type="text" class="form-control"
						placeholder="Enter Log File Path" name="indexDDLSync"
						ng-model="indexDDLSync" required/>
				<p ng-show="repoForm.indexDDLSync.$invalid && !repoForm.indexDDLSync.$pristine" class="help-block">Index DDL Sync is Required.</p>						
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" ng-disabled="repoForm.$invalid">
						<span ng-show="id">Update</span> 
						<span ng-show="!id">Save</span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		<h2>Respository Configurations</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Environment Name</th>
					<th>Repo Type</th>
					<th>User Id</th>
					<th>Password</th>
					<th>Table Owner</th>
					<th>Table Owner Password</th>
					<th>ODBC</th>
					<th>Repository Name</th>
					<th>Table DDl Sync</th>
					<th>Index DDl Sync</th>
				</tr>
			</thead>
			<tbody ng-repeat="repos in allRepos">
				<tr>
					<td>{{repos.id}}</td>
					<td>{{repos.envName}}</td>
					<td>{{repos.repoType}}</td>
					<td>{{repos.userId}}</td>
					<td>{{repos.password}}</td>
					<td>{{repos.tableOwner}}</td>
					<td>{{repos.tableOwnerPassword}}</td>					
					<td>{{repos.odbc}}</td>
					<td>{{repos.repoName}}</td>
					<td>{{repos.tableDDLSync}}</td>
					<td>{{repos.indexDDLSync}}</td>
					<td>
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="modifyRepos(repos)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>

					</td>
					<td>
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="deleteRepos(repos)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>